.team-banner {
  width: 360px;
  height: 213px;
  border-radius: 46px;
  border: 6px solid #ff6961;
  margin: 15px;
}
.container-teaminfo {
  display: flex;
}
.info-text {
  width: 370px;
  font-size: 18px;
}
.info-user-text {
  text-decoration: underline 1px #ff6961;
}
