.container-about {
  height: 92vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.title-name {
  width: 80vw;
  justify-content: center;
  display: flex;
  text-decoration: underline #ff6961;
}
.cv-michael {
  height: 80vh;
  width: 80vw;
}

.todo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
